PORT=YOUR_SERVER_PORT
DB_HOST=localhost
DB_USER=root
DB_PASS=YOUR_DB_PASS
DB_NAME=YOUR_DB_NAME

BCRYPT_SALT=SALT_ROUND

SMTP_HOST=smtp.gmail.com
SMTP_PORT=YOUR_CREDENTIAL
SMTP_USER=YOUR_CREDENTIAL
SMTP_PASSWORD=YOUR_CREDENTIAL
SMTP_FROM=YOUR_CREDENTIAL

OTP_EXPIRY_MINUTES=YOUR_CREDENTIAL
OTP_MAX_ATTEMPTS=YOUR_CREDENTIAL
OTP_RESEND_COOLDOWN_SECONDS=YOUR_CREDENTIAL
OTP_MAX_REQUESTS_PER_HOUR=YOUR_CREDENTIAL